@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: "title title"
                         "game message"
                         "footer footer";
    background: #333;
}

@media (max-width: 940px){
    body{
        grid-template-areas: "title title"
                             "game game"
                             "message message"
                             "footer footer";
    }

    .chat-area {
        max-height: 300px !important;
        width: 570px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        grid-template-rows: 1fr 10% !important;
    }
}

@media (max-width: 610px){
    .title{
        font-size: 60px !important;
        grid-column: 1/3 !important;
    }
}

@media (max-width: 365px){
    .form{
        width: 50%;
    }
}

* {
    font-family: 'Baloo Bhai',cursive;
}

/* CSS for the tic tac toe game board */

.game-board{
    width: 500px;
    height: 500px;
    display: grid;
}

/* The main div that contains the gameboard and info */

.game-area{
    width: 500px;
    height: 500px;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    /* border-radius: 25px; */
    grid-area: game;
    justify-self: center;
    background: #1b262c;
    color: #eee;
}

.expand{
    grid-column: 1/3 !important;
}

.extra-info{
    margin-top: 10px;
}

.inner-info  {
    display: none;
}

.inner-info.show {
    margin-bottom: -50px;
}

.show {
    display: block !important;
}

/* CSS for chat/message area */

.chat-area{
    justify-self: center;
    align-self: center;
    grid-area: message;
    display: grid;
    grid-template-rows: 1fr 7%;
    height: 500px;
    width: 300px;
    /* border-radius: 24px; */
    box-shadow: inset 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
    padding: 15px;
    overflow: auto;
    background: #1b262c;
}

.msg-input{
    border-radius: 15px 0  0 15px;
    padding: 5px;
    outline: none;
}

.send {
    border-radius: 0 15px 15px 0;
    outline: none;
}

.messages{
    overflow: auto;
}

.messenger{
    display: grid;
    grid-template-columns: 80% 20%;
}

.message {
    background: grey;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    margin: 5px;
    border: outset thick;
    animation: float-up .5s ease-in-out forwards;
    word-wrap: break-word;
}

@keyframes float-up{
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* CSS for buttons */

.reset{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    outline: none;
    height: 35px;
    position: relative;
    top: 10px;
}

.info-button{
    border-radius: 10px;
}

.create-game{
    padding: 5px;
    border-radius: 5px;
}

.create-button, .join-button{
    position: relative;
    left: 20px;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: inset thick;
    border-radius: 10px;
}

p {
    margin-left: 20px;
    display: inline-block;
}

.title{
    font-size: 80px;
    line-height: 10%;
    grid-area: title;
    justify-self: center;
    color: #fff;
}

#twitter{
    color: white;
}


/* CSS for the 'x' and 'o' animations */


@keyframes grow {
    from {
        stroke-dashoffset: 283;
    }

    to {
        stroke-dashoffset: 0;
    }
}

circle {
    fill: transparent;
    stroke: #000;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 283;
    transform-origin: 50% 50%;
    transform: scale(.65);
    animation: grow .9s ease-in-out forwards;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.line {
    stroke-dashoffset: 1000;
    animation: dash 0.65s ease-in-out forwards;
}

.second {
    animation-delay: 0.15s !important;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.sign{
    grid-area: footer;
    justify-self: center;
    color: white;
}

/* Css for the Tic Tac Toe game cells */

.cell {
    max-width: calc(500px/3);
    min-width: calc(500px/3);
    max-height: calc(500px/3);
    min-height: calc(500px/3);
    border-width: thick !important;
}

#a {
    grid-column: 1;
    grid-row: 1;
}

#b {
    grid-column: 2;
    grid-row: 1;
    border-right: solid;
    border-left: solid;
}

#c {
    grid-column: 3;
    grid-row: 1;
}

#d {
    grid-column: 1;
    grid-row: 2;
    border-top: solid;
    border-bottom: solid;
}

#e {
    grid-column: 2;
    grid-row: 2;
    border: solid;
}

#f {
    grid-column: 3;
    grid-row: 2;
    border-top: solid;
    border-bottom: solid;
}

#g {
    grid-column: 1;
    grid-row: 3;
}

#h {
    grid-column: 2;
    grid-row: 3;
    border-right: solid;
    border-left: solid;
}

#i {
    grid-column: 3;
    grid-row: 3;
}

